@font-face {
  font-family: "Funny Kid";
  src: url(fonts/funnykid/FunnyKid.ttf);
}

/* font-family: "Funny Kid"; */
/* font-family: "Comic Neue", cursive; */
body {
  background-color: #f4e7d4;
}

p {
  font-family: "Comic Neue", cursive;
}

.azTurq {
  color: #4084c1;
}

.titulo {
  text-align: center;
}

h2 {
  margin: 0;
}

.sublinhado {
  display: inline-block;
  width: 40%;
  height: 14px;
  background-image: linear-gradient(to right, #F4E7D4, #4084C1, #F4E7D4);


}

.tamanhoFonte {
  font-size: 50px;
}

.letraFonte {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
}